# Supabase Configuration
SUPABASE_URL=your_supabase_url
SUPABASE_KEY=your_supabase_anon_key
DATABASE_URL=postgresql://postgres:password@db.your_project.supabase.co:5432/postgres

# Groq API Configuration
GROQ_API_KEY=your_groq_api_key

# Project Settings
UPLOAD_DIR=./app/uploads
FAISS_INDEX_DIR=./app/vector_store
