fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
python-multipart
python-jose[cryptography]
passlib[bcrypt]
pdfplumber
faiss-cpu
numpy
groq
langchain
langchain-groq
langchain-huggingface
langchain-community
sentence-transformers
